.label{
    margin-bottom: 10px;
    display: inline-block;
    color: rgb(133, 133, 133);
}

.inp_style{
    
    input{
        box-shadow:0 0px 3px rgba(0,0,0,0.10), 0 1px 3px rgba(0,0,0,0.10);
        padding: 14px 10px;
        margin-bottom: 20px;
    }
}